/* ***** FOOTER ***** */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #2e3131;
  color: #fff;
}

.footer * {
  color: #fff;
  padding: 0.8rem 2.4rem;
  margin: 0;
  align-items: center;
}

.footer p, .footer a {
  font-weight: 300;
}