<div id="phims" class="uk-cover-container uk-light">  
    <div class="uk-grid-collapse" uk-grid uk-height-viewport>
        <div class="uk-width-1-3@s"></div>
        <div class="uk-width-2-3@s">
            <div class="uk-section">
                <div class="uk-container">
                    <h3>Phims Web App</h3>
                    <div class="uk-grid-match">
                        <p>
                            Phims is a web-app that is used by the Hawaii Department
                            of Transportation -- Harbors Division. Phims helps its users
                            keep track of all vessels that come and go from Hawaiian
                            Harbors. The data stored in Phims can be viewed, edited and 
                            exported.
                        </p>
                    </div>
                    <h3>Technologies</h3>
                    <div class="uk-grid-match uk-child-width-1-2@s technologies-div" uk-grid>
                        <div class="img-div">
                            <div class="phims-img">
                                <img src="../../assets/img/vuejs.png">
                            </div>
                            <h3>Vue.js</h3>
                        </div>
                        <div class="img-div">
                            <div class="phims-img">
                                <img src="../../assets/img/iview.png">
                            </div>
                            <h3>iView</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  