<div uk-scrollspy="target: > button; cls:uk-animation-fade; delay: 500">
    <button class="links-btn"
            (click)="openURL('mailto:ambyrshae.jarrell@gmail.com')" 
            style="background-image: url('../../assets/img/gmail.png'); background-size: 40px;">
    </button>
    <button class="links-btn"
            (click)="openURL('https://www.linkedin.com/in/ambyrshae/')" 
            style="background-image: url('../../assets/linkedin.png');">
    </button>
    <button class="links-btn"
            (click)="openURL('https://github.com/ambyrshae')" 
            style="background-image: url('../../assets/GitHub.png'); ">
    </button>
</div>