div {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
.links-btn {
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    border: none;
    box-shadow: 1px 1px 2px 0px rgba(145, 146, 146, 0.7);
    transition: .5s;
}
.links-btn:hover {
    transform: scale(1.2);
}