<div class="grid-padding-y align-center">
  <h1>Nice to meet you, I'm Shae.</h1>
  <div class="grid-x align-center">
    <div class="grid-y">
      <img src="./../../assets/img/holding_plant.png">
      <a href="https://dribbble.com/tatooinegirl">Art by tatooine girl</a>
    </div>
    <div class="grid-y about-content">
      <div class="blue-div bd-1">
        <h3>7 years working in tech</h3>
        <p>I’m always looking for ways to improve processes so that teams can excel. This has lead me to become 
           involved in various aspects of the software development cycle. I’ve worn many hats which includes lead 
           FE developer, UI / UX designer, scrum master, agile coach, and mentor.</p>
      </div>
      <div class="blue-div bd-2">
        <h3>It's about more than tech</h3>
        <p>When I'm away from keyboard, I'm a social butterfly. I spend time gallivanting the city of New Orleans
           in costume with friends. I also like to run, kayak, travel and care for plants.
        </p>
      </div>
    </div>
  </div>
</div>
