<section id="bes" data-magellan-target="bes">
  <h1>Benefits Eligibility System</h1>
  <p>Streamlining the eligibility process across Hawaiian public assistance programs in order to provide services more quickly.
    Learn more at https://humanservices.hawaii.gov/bessd/</p>
  <p>I led designs for Release 0.5 and worked closely with product owners and dev team in order to meet our deadlines. 
    I used iterative design to incorporate changes to enhance the application. All designs were done using Adobe XD and 
    were shared with a UI team via cloud in order to co-edit.</p>
</section>

