<h1>BENEFITS ELIGIBILITY SYSTEM</h1>
<p class="mb-0 sub-text">Streamlining the eligibility process across Hawaiian public assistance programs in order to provide services more quickly.</p>
<p class="sub-text">Learn more at <a href="https://humanservices.hawaii.gov/bessd/" target="_blank">https://humanservices.hawaii.gov/bessd/</a></p>
<p class="pb-1">
  I incorporated scrum / agile methodologies in order to improve team productivity. I also led designs for Release 0.7
  and worked closely with product owners and dev team in order to meet our deadlines.
  I used iterative design to incorporate changes to enhance the application. All designs were done using Adobe XD.
</p>
<div class="modal"><button class="button" data-open="bes-modal">BES PORTFOLIO</button></div>
<div class="reveal" id="bes-modal" data-reveal>
  <img src="./../../assets/img/BES1.svg">
  <img src="./../../assets/img/BES2.svg">
  <img src="./../../assets/img/BES-0.5-Case_List_Selected.svg">
  <img src="./../../assets/img/BES-0.5-CO16_Appts_List.svg">
  <img src="./../../assets/img/BES-0.5-Special_Indicators_Conflict_of_Interest_Supervisor_Status_Update.svg">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
