<h1>BRAGGING RIGHTS</h1>
<p class="mb-0 sub-text">Empowering women to speak up about their achievements in a safe space in order to build confidence to advocate for themselves.</p>
<p class="sub-text">Learn more at <a href="https://ambyrshae.github.io/bragging-rights/braggers" target="_blank">https://ambyrshae.github.io/bragging-rights/braggers</a></p>
<p class="pb-1">
  Bragging Rights was a little side project I did while I was working at GE Digital. There was a Women's Group that I was a part of 
  and we met bi-weekly to discuss hurdles women face in tech. I wanted to expand my FE knowledge while also helping out the group and 
  that's when our monthly "Bragging Rights" formed. We used the website to show a short bio of the speaker and a graph of highs and lows 
  of their life and career. It allowed women a safe space to open up about obstacles they faced but also to express moments where they 
  were proud of themselves.
</p>
<div class="modal"><button class="button" data-open="br-modal">BRAGGING RIGHTS PORTFOLIO</button></div>
<div class="reveal" id="br-modal" data-reveal>
  <img src="./../../assets/img/Screen Shot 2021-06-30 at 10.45.59 AM.png">
  <img src="./../../assets/img/Screen Shot 2021-06-30 at 10.46.07 AM.png">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
