<h1>CALWEST RECYCLING</h1>
<p class="sub-text">
  Designing the future of recycling scrap metals.
</p>
<p class="pb-1">
  I worked with a California owned recycling company that was looking for a better way of managing the ticketing system for 
  recycling scrap metals. I did the requirement gathering and designed the user workflow.
</p>
<div class="modal"><button class="button" data-open="calwest-modal">CALWEST PORTFOLIO</button></div>
<div class="reveal" id="calwest-modal" data-reveal>
  <img src="./../../assets/img/1. Login diagram.png">
  <img src="./../../assets/img/2. Home diagram.png">
  <img src="./../../assets/img/3. Create ticket diagram (done).png">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
