<div class="grid-x">
  <div class="grid-y">
    <a href="tel:+15043563525" target="_blank"><span>PHONE:&nbsp;</span>(504)-356-3525</a>
    <a href="mailto:ambyrshae.jarrell@gmail.com" target="_blank"><span>EMAIL:&nbsp;</span>ambyrshae.jarrell@gmail.com</a>
    <a href="https://goo.gl/maps/pqf7VrMjaeBKYDPo6" target="_blank"><span>LOCATION:&nbsp;</span>New Orleans, LA</a>
  </div>
  <div class="grid-y">
    <a href="https://www.linkedin.com/in/ambyrshae/" target="_blank"><span>LINKEDIN:&nbsp;</span>linkedin.com/in/ambyrshae</a>
    <a href="http://github.com/ambyrshae" target="_blank"><span>GITHUB:&nbsp;</span>github.com/ambyrshae</a>
    <a href="./../../assets/AmbyrShae Jarrell Resume.pdf" download target="_blank"><span>RESUME:&nbsp;</span>Download PDF</a>
  </div>
</div>
