<div>
  <img src="./../../assets/img/cell.svg">
  <a href="tel:+15043563525" target="_blank"><span>PHONE:&nbsp;</span>(504)-356-3525</a>
</div>
<div>
  <img src="./../../assets/img/email.svg">
  <a href="mailto:ambyrshae.jarrell@gmail.com" target="_blank"><span>EMAIL:&nbsp;</span>ambyrshae.jarrell@gmail.com</a>
</div>
<div>
  <img src="./../../assets/img/map.svg">
  <a href="https://goo.gl/maps/pqf7VrMjaeBKYDPo6" target="_blank"><span>LOCATION:&nbsp;</span>New Orleans, LA</a>
</div>
<div>
  <img src="./../../assets/img/linkedin.svg">
  <a href="https://www.linkedin.com/in/ambyrshae/" target="_blank"><span>LINKEDIN:&nbsp;</span>linkedin.com/in/ambyrshae</a>
</div>
<div>
  <img src="./../../assets/img/git.svg">
  <a href="http://github.com/ambyrshae" target="_blank"><span>GITHUB:&nbsp;</span>github.com/ambyrshae</a>
</div>
<div>
  <img src="./../../assets/img/file.svg">
  <a href="./../../assets/AmbyrShae Jarrell Resume.pdf" download target="_blank"><span>RESUME:&nbsp;</span>Download PDF</a>
</div>
