<h1>FRENCH QUARTER FEST APP</h1>
<p class="pb-2 sub-text">
  Navigating crowds through one of the nation's largest free music festival in the south.
  Learn more at <a href="http://frenchquarterfest.org/get-the-app/" target="_blank">http://frenchquarterfest.org/get-the-app/</a>
</p>
<p class="pb-2">
  My very first software project was the French Quarter Festival mobile app. I helped develop the Android app natively 
  using Android Studio, Java, Material Design and Espresso testing. I also lead my team in scrum and agile methodologies so 
  that we could meet our 2 month deadline. I then rolled off the project as a developer and became a mentor for 3 years. 
  I guided interns on development, design and project management.
</p>
