<div class="grid-x align-center">
  <div class="grid-y">
    <h1>GE Girls</h1>
    <p class="sub-text">Teaching girls the wonders of STEM by creating exciting activities related to software development.</p>
    <p class="sub-text">Learn more at  <a href="https://ge-girls.com/" target="_blank">https://ge-girls.com/</a></p>
    <p class="pb-1">
      I did the project management for the GE Girls 2017 summer camp held at Tulane University. The program itself was a week 
      long but the preparation took months of planning. I coordinated with volunteers, school administration, teachers, 
      students and parents in order to make the program a success. My main goal was to excite and retain interest of middle school 
      girls in STEM. We created engaging activities related to robotics and coding, encouraged friendships through social games and 
      confidence builders and celebrated their successes with an end-of-camp picnic that included all staff, students and parents.
    </p>
  </div>
</div>
