<h1>LUCID API DOCUMENTATION</h1>
<p class="mb-0 sub-text">Helping developers connect to Lucid's services by clearly documenting API and functionality.</p>
<p class="sub-text">Learn more at <a href="https://developer.lucidhq.com/" target="_blank">https://developer.lucidhq.com/</a></p>
<p class="pb-1">
  I was the solo developer on the tech ops team. One of the larger projects I completed was redesigning and coding the
  API documentation for Lucid. I did this using Javascript for web development and Postman to test all endpoints. I was
  able to launch the site within a month.
</p>
<div class="modal"><button class="button" data-open="lucid-modal">LUCID PORTFOLIO</button></div>
<div class="reveal" id="lucid-modal" data-reveal>
  <img src="./../../assets/img/Screen Shot 2021-04-26 at 7.43.27 AM.png">
  <img src="./../../assets/img/Screen Shot 2021-04-26 at 7.44.05 AM.png">
  <img src="./../../assets/img/Screen Shot 2021-04-26 at 7.44.56 AM.png">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
