<div class="grid-x align-center">
  <div class="grid-y">
    <h1>Public Assistance Information System</h1>
    <p class="sub-text">Providing a digital solution for applying to SNAP / TANF benefits in order to promptly receive assistance.</p>
    <p class="sub-text">Learn more at <a href="https://pais-benefits.dhs.hawaii.gov/" target="_blank">https://pais-benefits.dhs.hawaii.gov/</a></p>
    <p class="pb-1">
      Before the Covid-19 pandemic, Hawaii SNAP / TANF applications were done on paper. When offices shutdown, it created a
      bottleneck for those who needed assistance. I designed the online application. Within a day of the site going live, there were 1000
      applications in progress. My main design principles were to help users easily navigate and complete their applications. This included
      single column layout which was responsive to mobile devices and using bold colors for call to action elements. Designs were done using Adobe XD.
    </p>
    <div class="modal"><button class="button" data-open="pais-modal">PAIS portfolio</button></div>
    <div class="reveal" id="pais-modal" data-reveal>
      <img src="./../../assets/img/PAIS1.svg">
      <img src="./../../assets/img/PAIS - Landing 3 (New) - Web.png">
      <img src="./../../assets/img/PAIS - Application Information 1 - Web.png">
      <img src="./../../assets/img/PAIS - Voter Reg 1 - Web.png">
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
