<section id="pais" data-magellan-target="pais">
  <h1>Public Assistance Information System</h1>
  <p>Providing a digital solution for applying to SNAP / TANF benefits in order to promptly receive assistance.
    Learn more at https://pais-benefits.dhs.hawaii.gov/</p>
  <p>
    Before the Covid-19 pandemic, the only way the people of Hawaii could apply for SNAP / TANF was by filling out a 
    paper application and submitting it either in person or by mail. When offices shutdown due to the pandemic, it 
    created a bottleneck for those who needed assistance. I designed the online SNAP / TANF application that is currently live. 
    Within a day of the site going live, there were 1000 applications in progress. My main design principles were to help users 
    easily navigate and complete their applications. This included single column layout which was responsive to mobile devices, 
    breaking out and grouping into related sections, showing application progress and using bold colors for call to action elements. 
    These designs were done using Adobe XD.
  </p>
</section>