<section id="phims" data-magellan-target="phims">
  <h1>Port Hawaii Information Management System</h1>
  <p>Tracking and managing all vessels that travel to and from ports in Hawaii. This includes cargo, tariffs, billing and more.</p>
  <p>
    I incorporated scrum and agile methodologies within my team at the start of the project in order to meet a 
    3 year deadline. In addition, I led FE development and UI / UX design, which included creating mock-ups 
    using Adobe XD. I integrated UX in our software development process. This increased team velocity from 4 
    points / person to 8 points / person since development could proceed with client approved designs. For the FE, 
    we used Vue.js and I paired it with View UI for its simplistic components.
  </p>
</section>