<h1>PORT HAWAII INFORMATION MANAGEMENT SYSTEM</h1>
<p class="sub-text">Tracking and managing all vessels that travel to and from ports in Hawaii. This includes cargo, tariffs, billing and more.</p>
<p class="pb-1">
  I incorporated scrum / agile methodologies within my team at the start of the project in order to meet a
  3 year deadline. In addition, I led FE development and UI / UX design, which included creating mock-ups
  using Adobe XD. I integrated UX in our software development process. This increased team velocity from 4
  points to 8 points per person since development could proceed with client approved designs. For the FE,
  we used Vue.js and I paired it with View UI for its simplistic components.
</p>
<div class="modal"><button class="button" data-open="phims-modal">PHIMS PORTFOLIO</button></div>
<div class="reveal" id="phims-modal" data-reveal>
  <img src="./../../assets/img/Phims1.svg">
  <img src="./../../assets/img/Phims2.svg">
  <img src="./../../assets/img/Phims - A-R Billing - Payment Advice Upload – Invoices Table (Pending).svg">
  <img src="./../../assets/img/Phims - Harbor Master - Dispatch Dashboard - Berth Shift Drawer.svg">
  <img src="./../../assets/img/Phims - Harbor Master - Dispatch Dashboard - PDF Report Modal.svg">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
