<div class="grid-x align-center">
  <div class="grid-y">
    <h1>Improving the process</h1>
    <p>I'm a team coach driving productivity using Agile methodologies.</p>
    <p>I'm also a software engineer with a passion for UI / UX design.</p>
    <p>Let me help you bridge the gap between business and technical teams.</p>
    <p>Together, we can design, build and bring your ideas to life.</p>
    <button class="button">Let's chat</button>
    <img src="../../assets/img/shovel.png">
    <a href="https://dribbble.com/tatooinegirl">Art by tatooine girl</a>
  </div>
</div>



