<div id="nav" class="h-100">
  <ul class="menu vertical">
    <li class="menu-text pb-1">PROJECTS</li>
    <li class="menu-sub-text"><a href="#bes">BES</a></li>
    <li class="menu-sub-text"><a href="#phims">PHIMS</a></li>
    <li class="menu-sub-text"><a href="#pais">PAIS</a></li>
    <li class="menu-sub-text"><a href="#fv">Field Vision</a></li>
    <li class="menu-sub-text"><a href="#fqf">French Quarter Fest App</a></li>
    <li class="menu-sub-text"><a href="#lucid">Lucid API Web</a></li>
    <li class="menu-sub-text"><a href="#calwest">Calwest Recycling</a></li>
    <li class="menu-sub-text"><a href="#br">Bragging Rights</a></li>
    <li class="menu-sub-text pb-2"><a href="#geg">GE Girls</a></li>
    <li class="menu-text pb-2"><a href="#about">ABOUT</a></li>
    <li class="menu-text"><a href="#contact">CONTACT</a></li>
  </ul>
</div>