<div id="nav" class="h-100">
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="callout h-100" id="responsive-menu">
    <img class="pb-2" src="./../assets/img/ambyrshae.svg"/>
      <ul class="menu vertical">
        <li class="menu-text">Projects</li>
        <li><a href="#0">BES</a></li>
        <li><a href="#0">PHIMS</a></li>
        <li><a href="#0">PAIS</a></li>
        <li><a href="#0">Field Vision</a></li>
        <li><a href="#0">French Quarter Fest App</a></li>
        <li><a href="#0">Lucid API Web</a></li>
        <li><a href="#0">Calwest Recycling</a></li>
        <li><a href="#0">Bragging Rights</a></li>
        <li><a href="#0">GE Girls</a></li>
        <li class="menu-text">About</li>
        <li class="menu-text">Contact</li>
      </ul>
  </div>
</div>