@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

//  Table of Contents:
//
//   1. Global classes
//   2. HTML & body
//   3. Index
//   4. Title bar
//   5. Navigation
//   6. Content
//   7. Reveal
//   8. Canvas
//   9. Responsive design

// 1. Global classes
// ---------

// Height
// ---------

.h-100 {
  height: 100vh !important;
}

// Width
// ---------

.w-100 {
  width: 100vw !important;
}

// Padding
// ---------

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-2 {
  padding-bottom: 2rem !important;
}

// Margin
// ---------

.mb-0 {
  margin-bottom: 0 !important;
}

// 2. HTML & body
// ---------

html,
body{
  font-family: 'Poppins', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

// 3. Index
// ---------

#index {
  #responsive-menu {
    backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.25 );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    padding: 3rem;

    img {
      max-width: 16rem;
    }

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .cell {
    height: 100%;
  }
}

// 4. Title bar
// ---------

.title-bar {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #fff;
  padding: 2rem;
  position: absolute;
  -webkit-backdrop-filter: blur( 4px );
  width: 100%;

  button {
    margin-right: 1rem;

    img {
      width: 18px;
    }
  }
}

// 5. Navigation
// ---------

#nav {
  .menu-text {
    color: rgba($color: #fff, $alpha: 0.9);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;

    a {
      color: rgba($color: #fff, $alpha: 0.9);
      padding: 0;
    }
  }

  .menu-sub-text a {
    color: rgba($color: #fff, $alpha: 0.9);
    font-weight: 400;

    &:focus, &:active {
      font-weight: 500;
    }

  }

  a:hover, a:focus, a:active, .active a {
    background: linear-gradient(to right, #B440F6 0%, #336BF6 50%);
    background-clip: text;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    line-height: 2rem;
  }

  .mb-1-s {
    margin-bottom: 1rem;
  }
}

// 6. Content
// ---------

#content {
  background: rgba( 255, 255, 255, 0.1 );
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    color: #fff;
    &:hover {
      background: linear-gradient(to right, #B440F6 0%, #336BF6 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: fit-content;
    padding: 10rem;
    scroll-snap-align: start;

    h1 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
    }

    p {
      align-self: flex-start;
      color: #fff;
      line-height: 1.5rem;
      text-align: justify;

      a {
        text-decoration: underline;

        &:hover {
          background: linear-gradient(to right, #B440F6 0%, #336BF6 50%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .modal {
      align-self: center;

      button {
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 4px;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        -webkit-backdrop-filter: blur( 4px );
      }
    }
  }

  #projects {
    h1 {
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 2rem;
      text-align: center;
    }

    p {
      align-self: center;
    }
  }

  #about {
    img {
      align-self: center;
      margin-bottom: 2rem;
      width: 28rem;
    }
  }

  #contact {
    div {
      padding: 2rem;
    }

    img {
      padding-right: 0.5rem;
    }

    a {
      font-weight: 500;

      span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
      }
    }
  }
}

// 7. Reveal
// ---------

.reveal {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur( 4px );
  padding: 3rem 1rem;
  -webkit-backdrop-filter: blur( 4px );

  button {
    color: #fff;
  }

  img {
    margin-bottom: 1rem;
  }
}

.off-canvas {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 4px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 4px );

  &::-webkit-scrollbar {
    display: none;
  }
}

// 8. Canvas
// ---------

canvas {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

// 9. Responsive css
// ---------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-bar {
    padding: 1rem;

    img {
      width: 44vw;
    }
  }

  #content {
    section {
      padding: 1.5rem;
      padding-top: 100px;

      h1 {
        font-size: 5vw;
      }

      p {
        font-size: 3vw;
      }
    }

    #projects {
      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }

    #about {
      padding-top: 60px;

      img {
        align-self: center;
        margin: 1rem 0;
        width: 72vw;
      }
    }

    #contact {
      a {
        font-size: 3vw;
      }
    }
  }

  .off-canvas {
    #nav {
      .menu-text {
        font-size: 5vw;
      }

      .menu-sub-text {
        font-size: 3vw;
      }

      .menu.vertical {
        margin-top: 1rem;
      }

      a {
        line-height: 1rem;
      }
    }

    &.position-left {
      overflow: hidden;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #content {
    section {
      // justify-content: flex-start;
      padding: 1.5rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #content {
    section {
      // justify-content: center;
      padding: 5rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
