<div id="calwest" class="uk-cover-container uk-light">  
    <div class="uk-grid-collapse" uk-grid uk-height-viewport>
        <div class="uk-width-2-3@s">
            <div class="uk-section">
                <div class="uk-container">
                    <h3>Calwest Recycling Application Design</h3>
                    <div class="uk-grid-match">
                        <p>
                            Calwest Recycling is a company located in California
                            that takes pride in recycling various types of metals.
                            I am currently working with the company to create an 
                            application to promote efficiency in daily operations 
                            and usability for employees. We are currently in the 
                            design phase.
                        </p>
                    </div>
                    <h3>Technologies</h3>
                    <div class="technologies-div uk-child-width-1-2@s" uk-grid>
                        <div class="img-div">
                            <div>
                                <img src="../../assets/img/adobe.png">
                            </div>
                            <h5>Adobe Xd</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3 uk-background-cover" 
             style="background-image: url(../../assets/img/calwest.png); background-position: left;">
        </div>
    </div>
</div>  