$playfair: 'Playfair Display', serif;
$mont: 'Montserrat', sans-serif;
$phims-purple: #8a2be2;
$calwest-green: #00B707;
$br-blue: #1e90ff;
$jet: #32322C;
$black: #000;
$white: #FFF;
$clear-grey: #f8f8f8