#bio-img {
    background-image: url(../../assets/img/Ki.png);
    background-size: cover;
    background-position-x: -8.6vw;
    background-repeat: no-repeat;
    border-radius: 15vw;
    box-shadow: 2px 2px 4px rgba(105, 103, 103, 0.7);
    opacity: 0.9;
    height: 24vw;
    width: 24vw;
    margin: 70px auto;
}