@import "../../assets/vars";

.home-page {
    font-family: $raleway;
    height: 100%;
    overflow: auto;
}

#name {
    height: 64px;
    width: 300px;
    margin-top: 12px;
    margin-right: 6px;
}

#bio {
    display: flex;
}

.uk-grid {
    width: 100%;
}

#bio-img {
    background-image: url(../../assets/img/Ki.png);
    background-size: cover;
    background-position-x: -8.6vw;
    background-repeat: no-repeat;
    border-radius: 15vw;
    box-shadow: 2px 2px 4px rgba(105, 103, 103, 0.7);
    opacity: 0.9;
    height: 24vw;
    width: 24vw;
    margin: 30px auto;

}

#phims {
    background-color: blueviolet;
    height: 500px;
}

#calwest {
    background-color: green;
    height: 500px;
}

#bragging-rights {
    background-color: dodgerblue;
    height: 500px;
}
