<div class="home-page">
    <div uk-sticky>
        <nav class="uk-navbar-container uk-animation-slide-top" 
             uk-navbar>
             <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <div id="links">
                        <app-links></app-links>
                    </div>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <div id="name" 
                         uk-scrollspy="cls:uk-animation-slide-left-medium uk-animation-fade; delay: 1900">
                        <app-animated-name></app-animated-name>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <app-bio-section></app-bio-section>
    <app-phims-section></app-phims-section>
    <div id="calwest" class="uk-cover-container" uk-height-viewport></div>
    <div id="bragging-rights" class="uk-cover-container" uk-height-viewport></div> 
</div>
