@import "../../assets/vars";

.home-page {
    font-family: $raleway;
    height: 100%;
    overflow: auto;
}

#name {
    height: 64px;
    width: 300px;
    margin-top: 12px;
    margin-right: 6px;
}

.uk-heading-line {
    background-color: #f8f8f8;
    padding: 40px 0 20px 0;
    margin: 0;
}
