<div class="home-page">
    <div uk-sticky>
        <nav class="uk-navbar-container uk-animation-slide-top" 
             uk-navbar>
             <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <div id="links">
                        <app-links></app-links>
                    </div>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <div id="name" 
                         uk-scrollspy="cls:uk-animation-slide-left-medium uk-animation-fade; delay: 1900">
                        <app-animated-name></app-animated-name>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <div id="bio" 
         class="uk-cover-container" 
         uk-height-viewport
         uk-scrollspy="cls:uk-animation-fade; delay: 1900">
        <div class="uk-grid-collapse" uk-grid>
            
            <div class="uk-width-2-3">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">A little about me</h3>
                    <p>Let's start with my name since I am often asked about its origin.</p>
                    <p>
                        My dad came up with it. Simple as that!
                        He switched the "e" and "y" around because he wanted
                        to make sure that my name was unique. Well, it worked.
                        Google "AmbyrShae" and I'm at the top of the search.
                    </p>
                    <p>Moving on...</p>
                    <p>
                        I graduated from the University of New Orleans with a B.S. in
                        Biology (2009) and Computer Science, Cum Laude (2016).
                    </p>
                    <p>
                        I have worked at GE Digital. I currently work at EWorldES and do 
                        freelancing as well.
                    </p>
                    <p>
                        I participate in STEM outreach programs and have mentored over 20
                        people throughout my college and professional careers.
                    </p>
                    <p> 
                        I'm a proud Latina New Orleanian who currently resides in Hawaii.
                        On my off-time, I enjoy cooking and hanging out with my 15 year old
                        mutt, Kilo.
                    </p>
                </div>
            </div>
            <div class="uk-width-1-3">
                <div id="bio-img"></div>
            </div>
            
            
        </div>
    </div>
    <div id="phims" class="uk-cover-container" uk-height-viewport></div>
    <div id="calwest" class="uk-cover-container" uk-height-viewport></div>
    <div id="bragging-rights" class="uk-cover-container" uk-height-viewport></div> 
</div>
