<div class="home-page">
    <div uk-sticky>
        <nav class="uk-navbar-container uk-animation-slide-top" 
             uk-navbar>
             <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <div id="links">
                        <app-links></app-links>
                    </div>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <div id="name" 
                         uk-scrollspy="cls:uk-animation-slide-left-medium uk-animation-fade; delay: 1900">
                        <app-animated-name></app-animated-name>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
    <app-bio-section></app-bio-section>
    <h1 class="uk-heading-line uk-text-center"><span>Current Projects</span></h1>
    <app-phims-section></app-phims-section>
    <app-calwest-section></app-calwest-section>
    <h1 class="uk-heading-line uk-text-center"><span>Side Projects</span></h1>
    <app-bragging-rights-section></app-bragging-rights-section>
    <div id="my-site" class="uk-cover-container uk-light uk-grid-collapse uk-child-width-1-2@s" uk-height-viewport uk-grid>
        <div class="uk-section">
            <div class="uk-container">
                <h3>ambyrshae.com</h3>
                <div class="uk-grid-match">
                        <p> 
                            Please feel free to contact me via the links within 
                            the site banner.
                        </p>
                </div>
            </div>
        </div>
        <div class="uk-section">
            <div class="uk-container">
                <h3>Technologies</h3>
                <div class="uk-grid-match uk-child-width-1-3@s technologies-div" uk-grid>
                    <div class="img-div">
                        <div>
                            <img src="../../assets/img/angular.png">
                        </div>
                        <h5>Angular</h5>
                    </div>
                    <div class="img-div">
                        <div>
                            <img src="../../assets/img/ts.png">
                        </div>
                        <h5>Typescript</h5>
                    </div>
                    <div class="img-div">
                        <div>
                            <img src="../../assets/img/uikit.png">
                        </div>
                        <h5>UIKit</h5>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
